<%- include('header'); -%>
<center>
<h1>Software projects currently available</h1>
<% projects.forEach(function(project){ %>
        <hr width="80%">
    <h2><%= project.title %></h2>
    <h3>Price: <%=project.price%></h3>
    <h4>Submitted By <em><%=project.author.username%></em></h4>
    <a href="/projects/<%= project._id %>">More info!</a>
<% }); %>
</center>
